@model coreNet.tblMusteri

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tblMusteri</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.musteriAd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.musteriAd)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.musteriSoyad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.musteriSoyad)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.musteriMail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.musteriMail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.musteriTel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.musteriTel)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.musteriMesaj)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.musteriMesaj)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.musteriIlce)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.musteriIlce)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.musteriAtikTuru)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.musteriAtikTuru)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.musteriMiktar)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.musteriMiktar)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MusteriID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
